.headerID {
    background-color: rgb(0, 104, 5);
    color: white;
}

.footer1id{
    background-color: rgb(227, 239, 179);
}

.headerID .nav-link {
    color: #ffffff;
    font-weight: 500;
}

.headerID .nav-link:hover {
    color: #c0ffc0;
    text-decoration: underline;
}

.headerID .nav-item.id1 .nav-link {
    color: #ffffff;
}

.headerID .nav-item.id1 .nav-link:hover {
    color: #c0ffc0;
}

.navbar-nav .dropdown-menu {
    position: absolute;     
    top: 100%;              
    right: 0;              
    z-index: 1050;          
}


.navbar-nav .nav-item.dropdown {
    position: relative;     
}
